/* Write CSS here */
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-sm-bg.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  color: #333333;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 42px;
  margin-top: 80px;
}

.stopwatch-container {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 15px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stopwatch-image {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.timer-text {
  color: #333333;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 32px;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
}

.button {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  border: none;
}

.start {
  background-color: #1db05f;
  margin-right: 10px;
}

.stop {
  background-color: #ef0d36;
  margin-right: 10px;
}

.reset {
  background-color: #eaa800;
}

.stopwatch-timer {
  color: #333333;
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: 500;
  margin-top: 0px;
}

@media screen and (min-width: 768px) {
  .bg-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-lg-bg.png');
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 100px;
  }
  .stopwatch-container {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 15px;
    width: 60%;
    max-width: 280px;
    box-shadow: 0px 4px 16px 0px #bfbfbf;
  }
  .heading {
    font-size: 62px;
  }
  .button {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .stopwatch-image {
    height: 20px;
    width: 20px;
  }

  .timer-text {
    font-size: 18px;
    font-weight: 600;
  }
  .stopwatch-timer {
    font-size: 64px;
  }
}
